html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: black;
}

.block {
  display: block;
}

.w-100 {
  width: 100%;
}
